<div class="accordion-item">
  <h2 class="accordion-header" id="flush-headingTwo">
    <button aria-controls="flush-collapseTwo" aria-expanded="true" class="accordion-button"
      data-bs-target="#flush-collapseTwo" data-bs-toggle="collapse" type="button">
      Périmètre géographique
    </button>
  </h2>
  <div aria-labelledby="flush-headingTwo" class="accordion-collapse collapse show"
    data-bs-parent="#accordionFlushExample" id="flush-collapseTwo" expanded="true">
    <div class="accordion-body">
      <div>
        <button class="btn btn-labeled btn-default" type="button">
          <span class="btn-label">
            <i class="bi bi-pencil"></i>
          </span> Modifier le périmètre
        </button>
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <input aria-describedby="basic-addon2" class="form-control" placeholder="Rechercher une localité" type="text">
          <div class="input-group-append">
            <button class="btn btn-outline-default" type="button">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col">
            <div class="form-check">
              <input checked class="form-check-input" id="flexCheckChecked" type="checkbox" value="">
              <label class="form-check-label" for="flexCheckChecked">
                Tout cocher
              </label>
            </div>
          </div>
          <div class="col">
            <div class="form-check">
              <input checked class="form-check-input" id="flexMinimizeChecked" type="checkbox" value="">
              <label class="form-check-label" for="flexMinimizeChecked">
                Tout réduire
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row overflow-auto geographic-tree">
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <button mat-icon-button disabled></button>
              <mat-checkbox class="checklist-leaf-node text-wrap" [checked]="true">{{node.item.name}}</mat-checkbox>
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <mat-checkbox [checked]="true">{{node.item.name}}</mat-checkbox>
            </mat-tree-node>
          </mat-tree>
        </div>
      </div>
    </div>
  </div>
</div>