<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i class="bi bi-people"></i>
    </span>
  </div>
  <input aria-describedby="basic-addon2" class="form-control" placeholder="Rechercher par nom, prénom"
         type="text">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">Rechercher</button>
  </div>
</div>

