<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        {{ item.firstname | uppercase }} {{ item.name | uppercase }}
      </div>
      <div class="col-sm-12 col-md-6">
        <ul>
          <li *ngFor="let electedFunction of item.functions">
            <table>
              <tr>
                <td>{{ electedFunction.function | titlecase }}</td>
                <td>{{ electedFunction.location | titlecase }}</td>
              </tr>
            </table>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-2">
        <p>{{ item.appearance }}</p>
        <p>apparitions</p>
      </div>
    </div>
  </div>
</div>
