<div class="container-fluid">
    <header class="row p-4">
        <div class="col-md-1 col-lg-1 sidebar"></div>
        <nav class="col-md-11 col-lg-11 mx-auto"
            style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-primary"><a href="#">Recherche</a></li>
                <li class="breadcrumb-item active" aria-current="page">Résultats de recherche</li>
            </ol>
        </nav>
    </header>
    <div class="row p-4">
        <nav class="col-md-1 col-lg-1 bg-light d-md-block sidebar collapse" id="sidebarMenu">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link " href="#">
                            <span data-feather="home"></span>
                            <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
                        </a>
                    </li>
                    <li aria-current="page" class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="search"></span>
                            <mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="visibility"></span>
                            <mat-icon aria-hidden="false" aria-label="visibility icon">visibility</mat-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-11 mx-auto col-lg-11">
            <div class="row">
                <div class="col-md-2 col-lg-3">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button aria-controls="flush-collapseOne" aria-expanded="false"
                                    class="accordion-button collapsed" data-bs-target="#flush-collapseOne"
                                    data-bs-toggle="collapse" type="button">
                                    Fonction
                                </button>
                            </h2>
                            <div aria-labelledby="flush-headingOne" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample" id="flush-collapseOne">
                                <div class="accordion-body">
                                </div>
                            </div>
                        </div>
                    </div>
                    <app-geographic-filter [dataSource]="dataSource" [treeControl]="treeControl">
                    </app-geographic-filter>
                </div>
                <div class="col-md-10 col-lg-9">
                    <app-search-bar></app-search-bar>
                    <app-toolbar></app-toolbar>
                    <app-elected-list [items]="electeds"></app-elected-list>
                    <app-paginator></app-paginator>
                </div>
            </div>
        </main>
    </div>
</div>