<div class="table-responsive">
  <table class="table table-striped table-sm">
    <tbody>
    <tr>
      <td>
        <app-elected-card *ngFor="let item of items" [item]="item"></app-elected-card>
      </td>
    </tr>
    </tbody>
  </table>
</div>
