<div
  class="
              d-flex
              justify-content-between
              flex-wrap flex-md-nowrap
              align-items-center
              pt-3
              pb-2
              mb-3
              border-bottom
            "
>
  <div>
    <div class="row">
      <div class="col">
        <h3>
          357 résultats
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6>Issus du répertoire national des Élus</h6>
      </div>
    </div>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    <label>
      Résultats par page:
      <button
        class="btn btn-sm btn-outline-secondary dropdown-toggle"
        type="button"
      >
        <span data-feather="calendar"></span>
        This week
      </button>
    </label>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    <label>
      Trier par:
      <button
        class="btn btn-sm btn-outline-secondary dropdown-toggle"
        type="button"
      >
        <span data-feather="calendar"></span>
        Apparition presse
      </button>
    </label>
  </div>
</div>
